{{ partial "header" . }}

<main>

<div class="container-heading mb-5">
	<div class="head-icon my-1">


        <img src="/svg/main-ilu.svg" style="margin-left: 1em; margin-right: 1em; max-width: 560px !important;">

	</div>
    <h2>02.09.2023</h2>

</div>

<div class="row" style="margin-top: 4rem !important; margin-bottom: 4rem !important; margin-left: 0 !important; margin-right: 0 !important; padding: 0 !important;">

    {{ range (.Paginator 15).Pages }}

    {{ if ne .Type "singles" }}

    {{ partial "list-item" . }}

    {{end}}

    {{ end }}

</div>

</main>

{{ partial "paginator" . }}

{{ partial "footer" . }}
